/* Shell CSS file */

body 	{background-color: "#7aa600";
        color: yellow;
	}

#nameStyle {
    color: yellow;
    position: absolute;
    left: 3%;
    top: 5%;
}


#navOneStyle {
    color: yellow;
    position: absolute;
    left:3%;
    top: 14%;

}


