body {
     background-image: url("../images/boston.png");
     background-size: cover;}

a:link, a:visited {
	color: #7aa600;
	font-size: 150%;
	font-family: Courier;
	text-decoration: none;
	margin: 1%;}

a:hover, a:active {
  text-decoration: underline;}

#stripe {}


  #name {
	color: #7aa600;
	font-size: 300%;
	font-family: Courier;
	margin: 1%;}
