body {     background: black;
     background-image: url("../images/boston.png");
     background-size: cover;
     background-repeat: no-repeat;
}

a:link, a:visited {
	color: #7aa600;
	font-size: 2.5vw;
	font-family: Courier;
	text-decoration: none;
	margin: 1%;}

a:hover, a:active {
  text-decoration: underline;}

#stripe {}


  #name {
	color: #7aa600;
	font-size: 5vw;
	font-family: Courier;
	margin: 1%;}
